.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.154);
  backdrop-filter: blur(25px);
  transition: .4s ease-in-out;
  box-shadow: 0 0 20px #09090951;
}

.product img {
  width: 220px;
  position: relative;
  top: -6rem;
  transition: .4s ease-in-out;
}

img:hover{
  transform: translatey(-12px);
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.48);
  margin: 1rem;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
